.input {
    background-color: transparent;
    border: .2rem solid transparent;
    border-bottom: .2rem solid var(--primary);
    color: var(--text-default);
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem;
    outline: none;
    transition: all .2s ease-in-out;
}

.input:focus {
    border: .2rem solid var(--primary);
    border-radius: .8rem;
}

.input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}

.input:disabled {
    border-bottom: .2rem solid var(--disabled);
    color: var(--text-muted);
}